
<div id="homepage">
  <div class="container">

    <div class="row">
      <div class="homepage-feature span12">
          <h1 class="tag-line">
            Do something good!
          </h1>
      </div>
    </div>

    <div class="row">
      <div class="list-kitchen" style="margin:0 auto !important;">
        <h3>Open your kitchen for reservations and
          meet foodies in your area. Experience truly authentic, local cuisine
          and a whole new way of eating out.</h3>
          <br />
          <form accept-charset="UTF-8" action="/users/sign_up" class="form-inline" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
          <input id="email" name="email" placeholder="Email address" type="text" value="" />
          <button class="list-button yellow" name="button" type="submit">Sign Up</button>
</form>      </div>
      
    </div>
    <div class="row">
      <div class="span12">
        <div class="home-who-can">
          <% @posts.each do |post| %>
          <h2><%= post.title %></h2>
          <ul>
            <li>
              <h4><%= post.tag %></h4>
              <p><%= post.content %></p>
          </li>
          <%end%>
            <li>
              <h4>Foodies</h4>
              <p>For foodies that love to cook and want to share their favorite recipes with the world</p>
            </li>
            <li>
              <h4>Private Chefs</h4>
              <p>For private chefs that want to ply their trade, get feedback, and make some money doing it</p>
          </li>
            <li>
              <h4>Restaurants</h4>
              <p>For restaurants that want to fill in empty reservations, or promote a specialty dish</p>
          </li>
            <li>
              <h4>Friends</h4>
              <p>For friends that want to get together at their own private dinner parties</p>
          </li>
            <li>
              <h4>Fundraisers</h4>
              <p>For fundraisers looking to raise awareness and cash through an easy-to-use platform</p>
          </li>
          </ul>
        </div>
      </div>
    </div>
