<div id="homepage">
<div class="container">
  <div class="row">
    <div class="span12" style="margin-top:200px;">
      <h1 class="mainheader center" style="color:#fff;font-size:110px;line-height:52px;margin-bottom:55px;text-shadow:black 0.1em 0.1em 0.2em; line-height:80px;">
        Get Inspired.
      </h1>
      <h3 style="text-shadow:black 0.1em 0.1em 0.2em; "> We endeavor to make the world a better place by focusing on the good, making people aware of how blessed they are, how to be thankful for the small things, and sharing happiness all around.</h3>


<a href ="/posts">
          <div class="btn btn-warning btn-large " name="button" type="submit" >Take a Peek</div></a>    </div>
</form>      </div>
      
    </div>
</div></div></div></div>
<br>

      