<div id="homepage">
  <div class="container">

    <div class="row">
      <div class="homepage-feature span12">
          <h1 class="tag-line">
            Do something good!
          </h1>
      </div>
    </div>

    <div class="row">
      <div class="list-kitchen" style="margin:0 auto !important;">
        <h3>...SOMETHING...SOMETHING...SOMETHING
          ...SOMETHING
          ...SOMETHING...SOMETHING
          <br />
          <form accept-charset="UTF-8" action="/users/sign_up" class="form-inline" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
          <input id="email" name="email" placeholder="Email address" type="text" value="" />
          <button class="list-button yellow" name="button" type="submit">Sign Up</button>
</form>      </div>
      
    </div>
    
      
        <div class="home-who-can" style="background-image:url('black40.png')">

          <% @posts.each do |post| %>
          <div class="row-fluid">
          <div class="span4">
          <h2><%= post.title %></h2>
        
            
              <p><%= post.tag %><p>
              <p><%= post.content %></p>
        
        </div>

          <%end%>
   </div>
          
         
      
    </div>

  </div>