.postrow{
    padding:10px;
    color:white;
}
.postbox{
    padding: 20px;
    opacity:0.6;
    background-color:black;
    -moz-border-radius-bottomright: 50px;
    border-radius: 10px;
    overflow: show;
-moz-box-shadow: 0 0 5px 5px grey;
-webkit-box-shadow: 0 0 5px 5px grey;
box-shadow: 0 0 5px 5px grey;
min-width: 300px;

}
.postbox:hover{
-moz-box-shadow: 0 0 5px 5px white;
-webkit-box-shadow: 0 0 5px 5px white;
box-shadow: 0 0 5px 5px white;
    
}
.postext{
    font-family:Arial;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
}

.heart:hover{
    color:red;
    font-size: 110%;
}
.posthead{
color:yellow;

}