.postrow{
    padding:10px;
    color:white;
}
.postbox{
    padding: 20px;
    opacity:0.6;

    background-color:black;
    -moz-border-radius-bottomright: 50px;
    border-radius: 10px;
    max-height: 400px;
    
}
.postext{
    font-family:Arial;
}
.posthead{
color:yellow;

}