<!-- Footer -->
<div class="row">
      <div class="span12">
        <div class="home-footer">
          <p>Copyright 2013 Bonsai</p><br class="clear"/>
          <p><a href="/about">About</a> | Jobs | Press | <a href="#">Blog</a> | <a href="/users/edit">My account</a></p>
        </div>
      </div>
    </div>