<!-- Footer -->
<div class="container">
  <div class="row">
    <div class=" span12">
      <h4>&copy;  2013 Bonsai</h4><br class=""/>
      <p><a href="/about">About</a> | <a href="/contact">Contact </a>| <a href="/privacy_policy">Privacy </a>| <a href="#">My account</a></p>
    </div>
  </div>
</div>