<!-- Footer -->
<div class="row">
  <div class="span12">
    <div class="home-footer">
      <p>&copy;  2013 Bonsai</p><br class="clear"/>
      <p><a href="#">About</a> | <a href="#">Press</a>| <a href="#">Blog</a> | <a href="#">My account</a></p>
    </div>
  </div>
</div>