<!-- Footer -->
<div class="row">
  <div class="span12">
    <div class="home-footer">
      <p>&copy;  2013 Bonsai</p><br class="clear"/>
      <p><a href="/about">About</a> | <a href="/contact">Contact </a>| <a href="/privacy_policy">Privacy </a>| <a href="#">My account</a></p>
    </div>
  </div>
</div>