<!-- Footer -->

  <div class="row">
    <div class=" span12" >

      <h4 style="margin-left:30px;">&copy;  2013 TMF </h4>
      <div class="pull-left" style="margin-left:30px;">
<%= link_to "About",about_path %> |
<%= link_to "Contact",contact_path %> |
<%= link_to "Privacy & Usage Policy", privacy_policy_path %> |
<%= link_to "Posts",posts_path %>
</div>
      <br>
    </div>
  </div>
