<!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Bonsai</p>
        </div>
        <div class="six columns">
          <ul class="inline-list right">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Included JS Files (Compressed) -->
  <script src="../assets/javascripts/templates.js"></script>

</body>
</html>