 <div class="site-header container ">

<%= link_to root_path do%>

<h1  class="pull-left"  style="margin-top:20px;">
  TooMuchFavor<small style="color:#ffca00"> &copy;</small></h1>
  <%end%>



  <h5 style ="margin-top:50px;" class="pull-right">
  <% if !user_signed_in? %>
     <a href="/users/sign_in">Sign up </a>
     <%else %>

      <% end %>
    </h5>

  <span class="pull-right" style="display:inline">
      <% if !user_signed_in? %>
      
  <%else %>



<%end %>
<% if user_signed_in? %>
       <h4 class ="pull-right" style="margin-top:10px;"> Signed in as: <%= link_to current_user.name.capitalize, user_path(current_user) %> ( <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> )</h4>
<%else %>
<h3 class="pull-right" > Guest </h3>
<%end%>
</span>

</div>
