</head>
<body class="home index">
<header class="site-header">
<div class="container">
  <h2>
  <%= link_to "Bonsai", root_path, :class => 'brand' %>
  </h2>
  <ul id="user-nav" class="unstyled nav nav-pills pull-right">
  <li>          
  <li><a href="/about">About</a></li></a>
  <li><a href="/faq">FAQs</a></li></a>
  <li>
  <a href="/users/sign_in">Login</a>
  </li>
  <li>
  <a href="/users/sign_up">Sign up</a>
  </li>
  </ul>
  </div>
  </nav>
  </header>
  <div id="main" role="main">
  <div class="container">
  <div class="row">
  <div class="span12">
  </div>
  </div>
</div>