</head>
  <body class="home index">
  <header class="site-header">
  <div class="container">
    <h2>
      <%= link_to "Bonsai", root_path, :class => 'brand' %>
  
    <span class=" nav nav-pills pull-right">
          <p style ="font-size:0.7em;">
     
  <% if !user_signed_in? %>
     <a href="/users/sign_in">Sign up  </a>
     <%else %>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>

      <% end %>
      </p>
  </span>
  </h2>
  </nav>
</header>
